In [1]:
import pandas as pd
import psycopg2

In [6]:
conn = psycopg2.connect('host=localhost dbname=airbnb-analysis')

In [12]:
query = """
SELECT
listings.id as airbnb_id,
listings.url as airbnb_url,
listings.host_total_listings_count as airbnb_listings_by_host,
rso."APN",
ST_Distance(geography(rso.geom), geography(listings.geom)) AS distance
FROM
listings 
CROSS JOIN LATERAL
(SELECT merged."APN", merged.geom, merged."Secondary_Address"
FROM merged
ORDER BY
listings.geom <-> geom
LIMIT 1) AS rso
ORDER BY distance;
"""

In [11]:
pd.read_sql(query, conn)

DatabaseError: Execution failed on sql '
SELECT
listings.id as airbnb_id,
listings.url as airbnb_url,
listings.host_total_listings_count as airbnb_listings_by_host
rso."APN",
ST_Distance(geography(rso.geom), geography(listings.geom)) AS distance
FROM
listings
CROSS JOIN LATERAL
(SELECT merged."APN", merged.geom, merged."Secondary_Address"
FROM merged
ORDER BY
listings.geom <-> geom
LIMIT 1) AS rso
ORDER BY distance;
': syntax error at or near "rso"
LINE 6: rso."APN",
        ^